<div id="horaires">
  <div class="container-fluid">
  <p>Jour début : {{ date.start }}</p>
  <p>Jour fin : {{ date.end }}</span></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Grade</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">18h</th>
        <th scope="col">19h</th>
        <th scope="col">20h</th>
        <th scope="col">21h</th>
        <th scope="col">22h</th>
        <th scope="col">23h</th>
        <th scope="col">00h</th>
        <th scope="col">01h</th>
        <th scope="col">02h</th>
        <th scope="col">03h</th>
        <th scope="col">04h</th>
        <th scope="col">05h</th>
        <th scope="col">06h</th>
        <th scope="col">07h</th>
        <th scope="col">08h</th>
        <th scope="col">09h</th>
        <th scope="col">10h</th>
        <th scope="col">11h</th>
        <th scope="col">12h</th>
        <th scope="col">13h</th>
        <th scope="col">14h</th>
        <th scope="col">15h</th>
        <th scope="col">16h</th>
        <th scope="col">17h</th>
        <th scope="col">18h</th>
      </tr>
    </thead>
    <tbody v-for="agent in agents" @mousedown="mouseDown" @mouseup="mouseUp" >
      <tr :data-id="agent.id">
        <th>{{ agent.grade.diminutif }}</th>
        <td>{{ agent.nom }}</td>
        <td>{{ agent.prenom }}</td>
        <td value="18" :data-date="date.start" :data-exist="fillFromDatabase(agent.id, date.start, '18')"></td>
        <td value="19" :data-date="date.start" :data-exist="fillFromDatabase(agent.id, date.start, '19')"></td>
        <td value="20" :data-date="date.start" :data-exist="fillFromDatabase(agent.id, date.start, '20')"></td>
        <td value="21" :data-date="date.start" :data-exist="fillFromDatabase(agent.id, date.start, '21')"></td>
        <td value="22" :data-date="date.start" :data-exist="fillFromDatabase(agent.id, date.start, '22')"></td>
        <td value="23" :data-date="date.start" :data-exist="fillFromDatabase(agent.id, date.start, '23')"></td>
        <td value="24" :data-date="date.start" :data-exist="fillFromDatabase(agent.id, date.start, '24')"></td>
        <td value="1" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '01')"></td>
        <td value="2" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '02')"></td>
        <td value="3" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '03')"></td>
        <td value="4" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '04')"></td>
        <td value="5" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '05')"></td>
        <td value="6" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '06')"></td>
        <td value="7" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '07')"></td>
        <td value="8" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '08')"></td>
        <td value="9" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '09')"></td>
        <td value="10" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '10')"></td>
        <td value="11" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '11')"></td>
        <td value="12" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '12')"></td>
        <td value="13" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '13')"></td>
        <td value="14" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '14')"></td>
        <td value="15" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '15')"></td>
        <td value="16" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '16')"></td>
        <td value="17" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '17')"></td>
        <td value="18" :data-date="date.end" :data-exist="fillFromDatabase(agent.id, date.end, '18')"></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

